body{
     background-color: lightseagreen;
}

#container{
     background-color: gainsboro;
     width: 85%;
     height: 700px;
     margin: 35px auto;
     position: relative;
     border-radius: 2.5%;
     box-sizing: border-box;
     padding-top: 40px;
}

img{
     width: 50px;
     border-color: red;
     border-width: 0;
     border-style: solid;
}
.pixel{
     background-color: white;
     border-width: 1px;
     border-style: solid;
     border-color: grey;
     width: 15px;
     height: 15px;
}

#pixelGrid{
     margin: 0 auto;
     width: 90%;
     height: 500px;
     /*background-color: lightblue;*/
     display: flex;
     flex-wrap: wrap;
     align-content: flex-start;
}

#pixelGrid>{
     flex-direction: row;
}

#palette{
     display: flex;
     padding: 10px;
     flex-wrap: wrap;
}

#palette>{
     flex-direction: row;
}

.color{
     border-radius: 50%;
     width: 50px;
}


.color, #selectedColor, img{
     height: 50px;
     margin: 10px;
     flex-basis: auto;
}

#selectedColor{
     width: 100px;
     background-color: white;
}

#red{
     background-color: red;
}

#orange{
     background-color: orange;
}

#yellow{
     background-color: yellow;
}

#limeGreen{
     background-color: limeGreen;
}

#forestGreen{
     background-color: forestgreen;
}

#darkGreen{
     background-color: darkgreen;
}

#lightSkyBlue{
     background-color: lightskyblue;
}

#darkBlue{
     background-color: darkblue;
}

#blueViolet{
     background-color: blueviolet;
}


#darkOrchid{
     background-color: darkorchid;
}

#purple{
     background-color: purple;
}

#pinkyPink{
     background-color: #ff6ec7;
}

#pink{
     background-color: pink;
}

#tan{
     background-color: tan;
}

#saddleBrown{
     background-color: saddlebrown;
}

#black{
     background-color: black;
}

#white{
     background-color: white;
}

#fireBrick{
     background-color: firebrick;
}

#darkOrange{
     background-color: darkorange;
}

#lightYellow{
     background-color: lightYellow;
}

#gold{
     background-color: gold;
}

#darkGoldenRod{
     background-color: darkgoldenrod;
}

#cornFlowerBlue{
     background-color: cornflowerblue;
}

#grey{
     background-color: grey;
}
